# -------------------------
# Python Cache / Compiled Files
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual Environments
# -------------------------
venv/
venv/
.venv/
.conda/
.idea/
